@import url(https://db.onlinewebfonts.com/c/5795a47e252d16c82bb79fa354b224db?family=VK+Sans+Display+Regular);

html {
    font-family: "VK Sans Display Regular";
    font-weight: regular;
}

* {
    box-sizing: border-box;
}

body {
    padding: 15px;
}
