.new__box {
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.20), 0px 4px 8px 0px rgba(0, 0, 0, 0.30);
    background: #AB8DFF;
    min-height: 60px;
    margin-bottom: 10px;
}

.new__box__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
}

.new__box__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

a {
    text-decoration: none;
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}