.comment__box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    padding: 5px;
 
}

.comment__img {
    margin-right: 10px;
    width: 27px;
    height: 27px;
}

.comment {
    border-left: 2px solid #ccc;
}